{% extends "dashboard.html" %}
{% load static %}

<!-- set this to logged in admin -->

{% block title %}Add Product for Women{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'styles/add_for_women.css' %}">
    <div class="container">
        <h2>Add Product for Women</h2>
        <form method="POST" action="{% url 'add_for_women' %}" enctype="multipart/form-data">
            {% csrf_token %}

            <label for="name">Perfume Name:</label>
            <input type="text" id="name" name="name" required>

            <label for="scent">Scent:</label>
            <input type="text" id="scent" name="scent" required>

            <label for="description">Description:</label>
            <textarea id="description" name="description" rows="4" required></textarea>

            <label for="price">Price:</label>
            <input type="number" id="price" name="price" step="0.01" required>

            <label for="myfile">Upload Image in JPG format only:</label>
            <input type="file" id="myfile" name="myfile" accept="image/*" required>

            <button type="submit">Add Perfume</button>
        </form>

        <!-- Placeholder for messages (success or error) -->
        <div id="message">
            {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </div>

{% endblock %}
