{% extends 'base.html' %}
{% block title %}{{ post.title }}{% endblock %}

<!-- set this to logged in admin -->


{% block content %}
    <link rel="stylesheet" href="{% static 'styles/article_details.css' %}">
<div class="post-container">
    <article>
        <h1>{{ post.title }}</h1>
        <p class="article-date">Published on: <span>{{ post.publish_date }}</span></p>
        <div class="post-content">
            {{ post.content|safe }}
        </div>
    </article>

    <div class="button-group">
        <a href="{% url 'edit_article' post.id %}" class="btn edit-btn">Edit Article</a>
        <form action="{% url 'delete_article' post.id %}" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="btn delete-btn">Delete Article</button>
        </form>
    </div>
</div>


{% endblock %}
