{% extends 'dashboard.html' %}
{% load static %}
{% block title %}Articles{% endblock %}

<!-- set this to logged in user -->

{% block content %}
<link rel="stylesheet" href="{% static 'styles/article_list.css' %}">
<div class="all-posts-container">
    <h1>All Articles</h1>
    <section class="all-articles">
        <!-- Add loop here to display all posts from database -->
        {% for post in posts %}
        <article class="article-item">
            <h2>{{ post.title }}</h2>
            <p class="article-date">Published on: <span>{{ post.publish_date }}</span></p>
            <p class="article-summary">{{ post.summary }}</p>
            <a href="{% url 'article_details' post.id %}" class="read-more">Read More</a>
        </article>
        {% endfor %}
    </section>
</div>


{% endblock %}
