{% extends 'base.html' %}
{% load static %}

<!-- set this to logged in user -->

{% block title %}Odyce - Become a Distributor{% endblock %}


{% block content %}
<link rel="stylesheet" href="{% static 'styles/be_a_distributor.css' %}">
<div class="supplier-container">
    <header class="supplier-header">
        <h1>Become a Distributor</h1>
        <p>Join us as a distributor and contribute to our range of exquisite perfumes.</p>
    </header>

    <section class="supplier-info">
        <h2>Who is a Distributor?</h2>
        <p>[Your description here]</p>

        <h3>Quantity of Units</h3>
        <p>[Description of units available]</p>

        <div class="supplier-button">
            <a href="{% url 'become_distributor' %}" class="button">Become a Distributor</a>
        </div>
    </section>
</div>

{% endblock %}
