{% extends 'base.html' %}
{% load static %}

<!-- set this to logged in user -->

{% block title %}Odyce - Checkout{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'styles/checkout.css' %}">
<br><br><br><br><br><br><br><br>
<div class="checkout-container">
    <header class="checkout-header">
        <h1>Checkout</h1>
        <p>Please review your order before confirming.</p>
    </header>

    <section class="order-summary">
        <h2>Billing Information</h2>
        <p><strong>Name:</strong> {{ billing_name }}</p>
        <p><strong>Address:</strong> {{ billing_address }}</p>
        <p><strong>City:</strong> {{ billing_city }}</p>
        <p><strong>Phone Number:</strong> {{ phone_number }}</p>
    </section>

    <section class="order-details">
        <h2>Order Details</h2>
        <p><strong>Quantity:</strong> {{ quantity }}</p>
        <p><strong>Total Price:</strong> ${{ final_price }}</p>
        {% if discount_code %}
            <p id="discount-message">Discount Applied: <em>{{ discount_code }}</em></p>
        {% endif %}
    </section>

    <form method="POST" action="{% url 'checkout' %}">
        {% csrf_token %}
        <div class="confirm-buttons">
            <button type="submit" class="button confirm-btn">Confirm and Proceed to Payment</button>
            <p class="or-text">Or</p>
            <button onclick="addToWishlist({{ product_id }})" class="wishlist-btn">Add to Wishlist</button>
        </div>
    </form>
</div>


{% endblock %}
