{% extends 'base.html' %}
{% load static %}

{% block title %}Odyce - Confirm Order{% endblock %}

<!-- set this to logged in user -->

{% block content %}
<link rel="stylesheet" href="{% static 'styles/confirm_order.css' %}">
<div class="checkout-container">
    <header class="checkout-header">
        <h1>Confirm Order</h1>
        <p>Please review the order before confirming.</p>
    </header>

    <section class="order-summary">
        <h2>Billing Information</h2>
        <p><strong>Name:</strong> {{ billing_name }}</p>
        <p><strong>Address:</strong> {{ billing_address }}</p>
        <p><strong>City:</strong> {{ billing_city }}</p>
        <p><strong>Phone Number:</strong> {{ phone_number }}</p>
    </section>

    <section class="order-details">
        <h2>Order Details</h2>
        <p><strong>Quantity:</strong> {{ quantity }}</p>
        <p><strong>Total Price:</strong> ${{ final_price }}</p>
        <p><strong> Download Receipt: </strong> {{ final_price }} </p>
    </section>

    <form method="POST" action="{% url 'confirm_order' %}">
        {% csrf_token %}
        <div class="confirm-buttons">
            <button type="submit" class="button confirm-btn">Confirm order</button>
        </div>
    </form>
</div>

{% endblock %}
