{% extends "dashboard.html" %}

<!-- set this to logged in admin -->

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmed Orders in {{ Location }}</title>
    <link rel="stylesheet" href="{% static 'styles/confirmed_orders.css' %}">
</head>
<body>
    <div class="container">
        <h1>Confirmed Orders by Location</h1>
        <ul>
            {% for location in confirmed_orders_by_location %}
                <li>
                    <h2>{{ location }}</h2>
                    <ul>
                        {% for order in confirmed_orders_by_location.get(location, []) %}
                            <li>{{ order }}</li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>

{% endblock %}
