{% extends 'dashboard.html' %}
{% block title %}Messages{% endblock %}

<!-- edit this page to make it better -->
<!-- set this to logged in admin -->

{% block content %}
<link rel="stylesheet" href="{% static 'styles/contact-us_messages.css' %}">
<div class="all-posts-container">
    <h1>All Messages</h1>
    <section class="all-articles">
        <!-- Add loop here to display all posts from database -->
        {% for item in messages_ %}
        <article class="article-item">
            <h1> Message from {{ item.full_name }}</h1>
            <h2>{{ item.message }}</h2>
            <p class="article-date">Published on: <span>{{ item.date_sent }}</span></p>
            <p class="article-summary">{{ item.summary }}</p>
        </article>
        {% endfor %}
    </section>
</div>

{% endblock %}
