{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Odyce | Elevate Your Scent</title>
    <link href="{% static 'styles/landing.css' %}" rel="stylesheet"/>
</head>
<body>

    <header class="header-container">
        <h1>ODYCE</h1>
        <nav>
            <a href="{% url 'home' %}">Shop</a>
            <a href="{% url 'home' %}">Fragrances</a>
            <a href="{% url 'contact_us' %}">Contact</a>
        </nav>
        <div class="auth-links">
            <a href="{% url 'register' %}" class="button">Sign Up</a>
            <a href="{% url 'login' %}" class="button">Login</a>
        </div>
    </header>

    <br><br><br>

    <div class="hero">
        <h2>Elevate Your Scent</h2>
        <p>Discover a collection of timeless perfumes for all occasions.</p>
        <a href="{% url 'home' %}" class="button">Explore Now</a>
    </div>

    <section class="products">
        <h2>Our Recent Fragrances</h2>

        <div class="product-grid">
            {% for product in recent_perfumes %}
                <div class="product">
                    <div class="product-image-wrapper">
                        {% if product.picurl %}
                            <img src="{{ product.picurl.url }}" alt="{{ product.name }}">
                        {% endif %}
                    </div>

                    <div class="product-info">
                        <h3>{{ product.name }}</h3>
                        <p>{{ product.description|truncatechars:60 }}</p>

                        <a href="{% url 'product_detail' product.product_type product.id %}">
                            <button>View Details</button>
                        </a>
                    </div>
                </div>
            {% empty %}
                <p>No recent fragrances available at the moment.</p>
            {% endfor %}
            </div>
    </section>

    <footer>
        <p>&copy; 2026 Odyce Store | <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a></p>
    </footer>

</body>
</html>