{% extends 'dashboard.html' %}

<!-- set this to logged in admin -->

{% block dashboard_content %}
<h2>Orders for {{ location_name }}</h2>

<table>
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>User</th>
            <th>Receipt</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.product.name }}</td>
            <td>{{ order.quantity }}</td>
            <td>{{ order.user.username }}</td>
            <td>
                {% if order.receipt %}
                <a href="{{ order.receipt.url }}" target="_blank">View Receipt</a>
                {% else %}
                No Receipt
                {% endif %}
            </td>
            <td><a href="{% url 'confirm_order' order.id %}">Confirm Order</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
