{% extends 'base.html' %}
{% load static %}
{% block title %}Profile - Odyce{% endblock %}


<!-- set this to logged in user -->

{% block content %}
<link rel="stylesheet" href="{% static 'styles/profile.css' %}">
<section class="profile-section">
    <h1>User Profile</h1>
    <div class="profile-details">
        <p><strong>Username:</strong> {{ user.username }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>First Name:</strong> {{ user.first_name }}</p>
        <p><strong>Last Name:</strong> {{ user.last_name }}</p>
    </div>

    <div class="profile-actions">
        <a href="{% url 'change_password' %}" class="btn">Change Password</a>
        <button class="btn delete-account-btn" onclick="confirmDelete()">Delete Account</button>
    </div>
</section>



<script>
    function confirmDelete() {
        if (confirm("Are you sure you want to delete your account? This action cannot be undone.")) {
            fetch("{% url 'delete_account' %}", {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    alert(data.message);
                    window.location.href = "{% url 'home' %}";
                } else {
                    alert(data.message);
                }
            })
            .catch(error => console.error('Error:', error));
        }
    }
</script>
{% endblock %}
