{% extends 'base.html' %}
{% load static %}

<!-- set this to logged in user -->

{% block title %}Payment Success{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'styles/success_page.css' %}">
<div class="success-container">
    <div class="success-content">
        <h1>Thank You!</h1>
        <p>Your payment has been successfully submitted and is pending confirmation.</p>
        <p>We will notify you once your order is confirmed.</p>
        
        <a href="{% url 'customer_orders' %}" class="button">View Order History</a>
    </div>
</div>

{% endblock %}
