{% extends 'dashboard.html' %}
{% load static %}

<!-- set this to logged in admin -->

{% block title %} View Users {% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'styles/view_users.css' %}">
<section class="view-users-section">
    <h1>Registered Users</h1>
    <ul class="user-list">
        {% for user in users %}
            <li>
                <a href="{% url 'user_detail' user.id %}">{{ user.first_name }} | {{ user.last_name }}</a>
                <br>
            </li>
        {% endfor %}
    </ul>

</section>


{% endblock %}
