{% extends 'base.html' %}
{% load static %}

<!-- set this to logged in user -->

{% block title %} Odyce - Wishlist {% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'styles/wishlist.css' %}">
<section class="wishlist-section">
    <br><br>
    <h2>Your Wishlist</h2>
    <br><br>
    <br><br>
    <div class="wishlist-container">
        {% if wishlist_items %}
            <ul class="wishlist-list">
                {% for item in wishlist_items %}
                    <li class="wishlist-item">
                        <div class="item-details">
                            <img src="{{ item.product.picurl.url  }}" alt="{{ item.product_name }}">
                            <div class="item-info">
                                <h3>{{ item.product.name }}</h3>
                                <p>Price: ${{ item.product.price }}</p>
                                <p>Quantity: {{ item.quantity }}</p>
                                <a href="{% url 'remove_from_wishlist' item.id %}" class="remove-btn">Remove</a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Your wishlist is currently empty.</p>
        {% endif %}
    </div>
</section>

<script>
    function addToWishlist(productId) {
    fetch(`/wishlist/add/${productId}/`, {
        method: "GET",
        headers: {
            "X-Requested-With": "XMLHttpRequest",
        }
    })
    .then(response => response.json())
    .then(data => {
        if (data.status === "success") {
            alert(data.message);
        } else {
            alert("Failed to add item to wishlist.");
        }
    })
    .catch(error => console.error("Error:", error));
}

</script>


{% endblock %}
