{% extends 'base.html' %}
{% block title %}Women's Perfumes{% endblock %}

<!-- set this to logged in user -->

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/women.css' %}">
<br><br><br><br>
<div class="perfume-container">
    <h1>Women's Perfumes</h1>
    <section class="perfume-list">
        <!-- Loop through all women's perfumes from the context (backend will provide this) -->
        {% for perfume in womens_perfumes %}
        <article class="perfume-item">
            <img src="{{ perfume.picurl.url }}" alt="{{ perfume.name }}" class="perfume-image"/>
            <h2>{{ perfume.name }}</h2>
            <p class="perfume-brand">{{ perfume.brand }}</p>
            <p class="perfume-price">{{ perfume.price }}</p>
            <a href="{% url 'product_detail' perfume.id %}" class="view-details">View Details</a>
        </article>
        {% endfor %}
    </section>
</div>

{% endblock %}
